body {
  background-image: url("images/backgrnd7.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
  margin: 0px 0px; }

section.main {
  /* padding-bottom: 20px; */
  width: 100%;
  height: 100%;
  background-color: white; }

section.subsection {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2em; }

section.overview {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 4em;
  padding-bottom: 1.2em; }

h1.heading {
  /* background-image: linear-gradient(90deg, white 30%, $primary-color-light); */
  border: solid deepPink 1.5px;
  border-right: solid deepPink 5px;
  border-top: 0px;
  border-left: 0px;
  font-size: 200%;
  margin-top: 1.2em;
  margin-bottom: 0px; }

h1.borderaccent {
  height: 7px;
  border-left: solid deepPink 1.5px;
  margin-bottom: 0.8em;
  margin-top: 0px; }

ul.languages {
  list-style-type: none; }

ul.languages li {
  padding: 0.6em 0em; }

ul.attachments {
  padding: 0px 0px; }

ul.attachments li {
  display: inline;
  padding-right: 2em;
  float: left;
  /* list-style: none; */
  /* padding-left: 0px; */ }

mark.highlight {
  background-color: #222;
  border-radius: 3px;
  color: white;
  font-size: 0.875rem;
  /* rem means relative to font-size of root element */
  padding: 3px 5px 3px 7px;
  position: relative; }

mark.matlab, .python, .cpp, .r, .git, .web {
  background-color: #222;
  border-radius: 3px;
  font-size: 0.875rem;
  /* rem means relative to font-size of root element */
  padding: 3px 5px 3px 7px;
  position: relative; }

mark.matlab {
  color: white; }

mark.python {
  color: white; }

mark.cpp {
  color: white; }

mark.r {
  color: white; }

mark.web {
  color: white; }

mark.git {
  color: white; }

mark.lvl {
  background-color: #fff;
  border-radius: 3px;
  color: #2963CF;
  font-size: 0.6rem;
  padding: 1px 2px;
  margin-left: 4px;
  position: relative;
  border: solid black 1px; }

mark.Tulane, .Yale, .Indiana, .Middlebury {
  background-color: #fff;
  border-radius: 3px;
  color: #2963CF;
  font-size: 0.6rem;
  padding: 1px 2px;
  margin-left: 4px;
  position: relative;
  border: solid black 1px;
  font-weight: bold; }

mark.Tulane {
  color: #00331A; }

mark.Yale {
  color: #0E4C92; }

mark.Indiana {
  color: #7D110C; }

mark.Middlebury {
  color: #003F84; }

table {
  margin-top: 2.5em; }

th.skills {
  font-size: 1.4em;
  color: #2963CF;
  text-align: center; }

td.skills {
  width: 20%;
  text-align: center;
  padding-top: 0.5em; }

ul.skills {
  margin-top: 1em;
  list-style-type: none;
  display: inline;
  padding: 0px 0px; }

tr.skill-lists {
  vertical-align: top;
  padding-top: 0px; }

ul.courses {
  margin-top: 1em;
  list-style-type: none;
  display: inline;
  font-size: 0.8em;
  padding: 0px 0px; }

ul.courses li {
  padding: 0.2em 0em; }

img.states {
  max-width: 20%; }

img {
  max-width: 10%; }

img.research {
  max-width: 60%;
  float: left;
  margin: 1rem;
  margin-left: 0px; }

img.research-right {
  max-width: 80%;
  float: right;
  margin: 1rem;
  margin-right: 0px; }

img.thumbnailstrip {
  max-width: 100%;
  margin-top: 1em; }

img.code {
  max-width: 30%;
  float: right;
  margin: 1rem;
  margin-right: 0px;
  margin-top: 0px; }

a {
  color: black; }

a:hover {
  color: #2963CF; }

/* footer{
	margin: 70px 2% 0px;
	border: dashed $secondary-color 2px;
	background-image: linear-gradient(90deg, white, $secondary-color-light, white);
	padding: 10px 15px;
} */
footer {
  margin-top: 10px;
  /* 	border: dashed $secondary-color 2px; */
  /* background-image: url("images/backgrnd7.jpg"); */
  padding: 20px 12px 35px; }

ul.foot-nav {
  text-align: center;
  margin: 0px 0px; }

ul.foot-nav li {
  display: inline;
  padding: 0px 1em;
  list-style: none;
  padding-left: 0px; }

li.to-the-top {
  margin-left: 0px;
  float: left; }

ul.nav-panel {
  float: right;
  padding: 0px 0px; }

ul.contact {
  list-style: none;
  text-align: right;
  padding-left: 0px;
  float: right;
  margin-right: 1.5em;
  margin-top: 0px; }

p.contact {
  float: right; }

ul.contact li {
  padding: 0.2em 0px;
  padding-bottom: 0px; }

li.nameplate {
  font-size: 40px;
  color: white; }

a.contact:link {
  font-size: 18px;
  text-decoration: none;
  color: deepPink; }

a.contact:hover {
  color: blue; }

a.contact:visited {
  color: deepPink; }

blockquote {
  font-style: italic;
  margin: 2em 2em;
  padding-left: 3em;
  border-left: 8px solid #2963CF; }

blockquote.code {
  font-style: normal;
  margin: 0em;
  margin-top: 6em;
  padding-left: 3em;
  border-left: 14px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 1em; }

p.accent {
  border-right: 4px solid black;
  margin-top: 0px;
  height: 6px; }

nav.hex-row {
  margin-left: 20px; }

div.hex {
  float: left;
  margin-left: 8px;
  margin-top: 14px; }

div.hex-top {
  width: 0;
  border-bottom: 20px solid deepPink;
  border-left: 34.66667px solid transparent;
  border-right: 34.66667px solid transparent; }

div.hex-bottom {
  width: 0;
  border-top: 20px solid deepPink;
  border-left: 34.66667px solid transparent;
  border-right: 34.66667px solid transparent; }

div.hex-mid {
  width: 69.33333px;
  height: 40px;
  background-color: deepPink;
  text-align: center; }

div.hex-top-home {
  width: 0;
  border-bottom: 20px solid deepPink;
  border-left: 34.66667px solid transparent;
  border-right: 34.66667px solid transparent; }

div.hex-bottom-home {
  width: 0;
  border-top: 20px solid deepPink;
  border-left: 34.66667px solid transparent;
  border-right: 34.66667px solid transparent; }

div.hex-mid-home {
  width: 69.33333px;
  height: 40px;
  background-color: deepPink;
  text-align: center; }

div.hex-top-cur {
  width: 0;
  border-bottom: 20px solid #FFFFFF;
  border-left: 34.66667px solid transparent;
  border-right: 34.66667px solid transparent; }

div.hex-bottom-cur {
  width: 0;
  border-top: 20px solid #FFFFFF;
  border-left: 34.66667px solid transparent;
  border-right: 34.66667px solid transparent; }

div.hex-mid-cur {
  width: 69.33333px;
  height: 40px;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 0px 6px #FFFFFF; }

a.hex-link {
  line-height: 40px;
  text-decoration: none;
  font-size: 17px;
  color: white; }

a.hex-link-cur {
  line-height: 40px;
  text-decoration: none;
  font-size: 17px;
  color: black; }

a.hex-link:hover {
  color: blue; }

a.hex-link-cur:hover {
  color: blue; }

hr.footer-divider {
  border: 0;
  height: 1.2px;
  background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0.75), #fff);
  margin-top: 3em;
  margin-bottom: 0.2em; }

/*# sourceMappingURL=about.css.map */
