/* line 29, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
body {
  background-image: url("images/backgrnd7.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
  margin: 0px 0px;
}

/* line 39, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.contain {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -225.18198px;
  margin-left: -183px;
}

/* line 46, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.hex-row {
  clear: left;
}

/* line 49, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
hex-row-even {
  margin-left: 53px;
}

/* line 52, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.hex {
  float: left;
  margin-left: 12px;
  margin-bottom: -135.18198px;
}

/* line 57, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.hex-top {
  width: 0;
  border-bottom: 45px solid #ffa81c;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
}

/* line 63, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.hex-bottom {
  width: 0;
  border-top: 45px solid #ffa81c;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
}

/* line 69, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.hex-mid {
  width: 156px;
  height: 90px;
  background-color: #ffa81c;
  text-align: center;
}

/* line 75, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
div.hex-below {
  padding-left: 96px;
  padding-top: 145.57398px;
}

/* line 80, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
ul.contact {
  list-style: none;
  text-align: right;
  padding-left: 0px;
  float: right;
  margin-right: 1.5em;
  margin-top: 0px;
}

/* line 89, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
p.contact {
  float: right;
}

/* line 93, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
ul.contact li {
  padding: 0.2em 0px;
  padding-bottom: 0px;
}

/* line 98, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
li.nameplate {
  font-size: 50px;
  color: white;
}

/* line 103, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
a.contact:link {
  font-size: 18px;
  text-decoration: none;
  color: #ffa81c;
}

/* line 109, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
a.contact:hover {
  color: blue;
}

/* line 113, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
a.contact:visited {
  color: #ffa81c;
}

/* line 117, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
a.hex-link {
  line-height: 90px;
  text-decoration: none;
  font-size: 38.25px;
  color: white;
}

/* line 124, ../../../Documents/Code_GitVC/Web/sdsawtelle.github.io/scss_input/home.scss */
a.hex-link:hover {
  color: blue;
}

/*# sourceMappingURL=home.css.map */